body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: 'MPlusCodeLatin';
  src: url('/src/assets/font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #121212;
  }

  img {
    filter: invert(1);
    -webkit-filter: invert(1);
  }

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.m-plus-code-latin-400 {
  font-family: "MPlusCodeLatin", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
